 <!-- modal -->
 |<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Ponto de Coletas</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/Search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" 
                name="search"
                placeholder="Pesquise por Cidade">
                <!-- placeholder="Pesquise por Cidade" nome que aparecerá no input -->
                <button>
                    <img src="/extras-aula-1/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>